

.panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: white;
    border: none;
    
}

.panel {
   
    padding: 50px;
    display: none;
}


a.btn-default:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.btn-default:hover, a:active {
    background-color: #7bd77c;
}


a:link{
    color:black;
}




ul {
  list-style: none;
}
