@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h3>Uči o web tehnologijama, riješavaj kvizove i potvrdi svoje znanje.</h3> <br />
</div>

@{ 
    if (User.Identity.IsAuthenticated)
    {
       <h4>Riješavaj kvizove, osvajaj trofeje i budi prvi na HighScore-u. Na profilu vidi svoje detalje.</h4>
    }else
    {
        <h4> Prijavi se ili registriraj za početak</h4>
    }
}